h1{
    color: white;
   background-color:blueviolet;
    text-align: center;
    margin-bottom: 0;
    border-top: 0px solid blue;
    border-bottom: 2px solid red;
    font-family: 'Hachi Maru Pop', cursive;

    font-family: 'Handlee', cursive;

    
}
h2{
    background-color: tan;
    padding: 0rem;
  border-top: 2px solid orange;
    border-bottom: 2px solid red;
    margin: 0 auto;
   
    
    margin-top: 3rem;
font-family: 'Hachi Maru Pop', cursive;

    font-family: 'Handlee', cursive;
}
h3{
    color: white;
    font-family: 'Hachi Maru Pop', cursive;

    font-family: 'Handlee', cursive;
}
body {
  
    font-size: 1.3rem;
    width: 80%;
    margin: 0 auto;
    background-image: url(../images/pic6.jpg);
    color:black;

    
    
 
}
ol {
    color: blue;
}
div{
    background-color: lightslategray;
    padding-left: 0.5rem;
    border-top: 5px solid black;
    background-image: url(../images/pic2.jpg);

    
    
}
ul{
    list-style-type: none; 
    text-decoration: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
     display: flex;
    flex:  row nowrap;
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
}
a{
  color: yellow;
  text-decoration: none;
  

  
}
nav{
    margin:0;
    padding:0;
   color: yellow;
}
a:hover{
    
    color:white;
}
.ul{  
   
    display: flex;
    flex:  row nowrap;
    justify-content: flex-end;
  
}
.a{
    padding-left: 2rem;
}

p{ color: black;
}
label{
    display: flex;
    flex: row nowrap;
 
    
}
input:not([type="radio"]):not([type="checkbox"]){
    width: 20%;
   
}
textarea{
    width: 20rem;
    height: 10rem;
    padding: 2rem;
}
fieldset{
   border: 1px solid black;
}
